/* =========================================================
   HOME PAGE
========================================================= */

.home-page {
    width: 100%;
    min-height: calc(100vh - 160px);

    margin: 0;
    padding: 0;

    background: #ffffff;
}


/* =========================================================
   TABLET
========================================================= */

@media (max-width: 1200px) {

    .home-page {
        min-height: calc(100vh - 140px);
    }

}


/* =========================================================
   MOBILE
========================================================= */

@media (max-width: 800px) {

    .home-page {
        min-height: calc(100vh - 185px);
    }

}